
/*** START global fonts and text styling ***/
body {
  font-family: "Times New Roman", Times, serif;
}
p {
}
h1 {
}
h2 {
}
h3 {
}
h4 {
}
/*** END global fonts and styling ***/

/*** START anchors ***/
a:link { /* unvisited link */
  color: blue;
}
a:visited { /* visited link */
  color: purple;
}
a:hover { /* mouseover link */
  text-decoration: underline;
}
a:active { /* selected link */
  background-color: yellow; /* accessibility */
  color: red;
}
/*** END anchors ***/

/*** START div tables ***/
.divTable {
  display: table;
}
.divRow {
  display: table-row;
}
.divCell {
  vertical-align: top;
  display: table-cell;
}
/*** END div tables ***/
